body{
    background-color: rgb(255, 231, 238);
}

h1{
    text-align: center;
    font-size: 50px;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.card {
    background-color: #ffffff;
    border-radius: 8px;
    padding: 20px;
    width: calc(33.33% - 20px);
    max-width: 300px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 768px) {
    .card {
    width: calc(50% - 20px);
    }
}

@media screen and (max-width: 480px) {
    .card {
    width: calc(100% - 20px);
    }
}
